<div class="row panel-cart">
	<div class="col-lg-12 closebtn-container bg-succes">
		<a href="javascript:void(0)" class="closebtn" onclick="closePanel()">
		 <i class="fa fa-window-close" aria-hidden="true"></i>
		 </a>
	</div>
</div>		 

{{# if product}}
<div class="cart-content">
	

<div class="row mx-2">
	<div class="col-sm-12 col-md-12">

		<ul class="list-group">
			
			{{# each product }}

			<li class="list-group-item">
				<div class="row">
					
					<div class="col-lg-1">
						{{ this.qty}}
					</div>
					<div class="col-lg-5">
						<strong> {{ this.item.title}}</strong> 
					</div>
					<div class="col-lg-3">
						<img class="img-on-cart w-100" src="{{this.item.imagePath}}" alt="">
					</div>
					<div class="col-lg-2">
						${{this.price}}.00
					</div>

				</div>
				
			</li>

			{{/each}}


		</ul>
	</div>
</div>

<div class="row my-2">
	<div class="col-lg-12">
	<h5 class="text-right mx-4"><strong>Total:  ${{totalPrice}} </strong></h5>
	</div>
	
</div>

<div class="row mx-2">
	<div class="col-lg-12">
		<a href="/shopping-cart" class="btn full-screen">
		<i class="fas fa-expand"></i>	
		Full Screen Cart</a>
	</div>	
	<div class="col-lg-12">
		<a href="/checkout" class="btn checkout-btn btn-block ">CheckOut</a>
	</div>
</div>

{{else}}

<div class="row mx-4">
	<div class="col-sm-12 col-md-12">
		<h5 class="text-center">Cart is empty</h5>
		<a href="/menu">Shop now</a>
	</div>
</div>

{{/if}}

</div>




