<!-- START OF LANDING PAGE -->
    <div id="home" class="home row">

         <div class="welcome-msg col-lg-12">
            
            <div class="texts text-warning w-75 mx-auto text-center">
              <h1>MOSHI RAMEN</h1>
              <h4>The best ramen in town</h4> 
              <hr class="bg-white w-75">

              <h4 class="text-warning">Since 1988</h4>
            </div>
            

          </div>
       
    </div> <!-- end of landing page (home) -->
<!-- END OF LANDING PAGE -->