<nav class="sticky-top navbar navbar-expand-lg nav-menu">
    <a class="navbar-brand" href="/">Moshi Ramen</a>

    <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto text-right ul-menu">
        <li class="nav-item">
          <a class="nav-link" href="/menu">Menu <span class="sr-only">(current)</span></a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" href="/shopping-cart" onclick="openPanel()">
            <i class="fa fa-shopping-cart" aria-hidden="true"> </i>
              Cart 
            <span class="badge badge-light">{{session.cart.totalQty}}</span>
          </a>
        </li>

         {{# if login}}

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i>
           User
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item w-25" href="/users/profile">orders</a>
            <a class="dropdown-item w-25" href="/users/logout">logout</a>
           
          </div>
        </li>

         {{ else }}

             <li class="nav-item"><a class="nav-link" href="/users/signup">signup</a></li>
             <li class="nav-item"><a class="nav-link" href="/users/signin">signin</a></li>

         {{/if}}

       
      </ul>
    </div>
  </nav>
