@font-face {
    src: url(../fonts/ELEKTORA.ttf);
    font-family: main-font;
}

@font-face {
    src: url(../fonts/KONFUCF_.ttf);
    font-family: second-font;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
	
}

.container-fluid {
	position: relative;
}

h1,
h2,
h4
 {
	font-family: main-font; /*same for all sizes*/
	text-align: center;
	margin: auto;
	font-size: 32px;
}

hr {
	border: .8px ridge gray;
}

.texts {
	line-height: 20px;
	width: 100%;
}

.texts h1 {
	font-size: 60px;
}

.texts h4 {
	font-size: 30px;
}

h2,
.navbar-toggler {
	letter-spacing: 4px; 
	font-weight: bold;
	color: maroon;
	text-shadow: 1px 1px orange;
}

.navbar-brand {
	color: maroon;
	font-weight: bold;
	font-family: main-font;
}

.navbar-brand:hover {
	color: #dc0909;
	transition: 500ms;
}

.fixed-top-nav {
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 20;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(245, 165, 12, .3));
}

/*START OF HOME*/

#home {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .50)), url('../images/landing3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.welcome-msg {
	padding-top: 180px;
	padding-bottom: 180px;
}

ul.navbar-nav li a.nav-link
 {
	font-size: 1em;
	letter-spacing: 1px;
	font-family: main-font;
	color:maroon;
	text-shadow: .2px .2px orange;
	transition: 500ms;
}

.dropdown-item {
	font-size: 1.2em;
	color:maroon;
	text-shadow: .2px .2px orange;
	transition: 500ms;
}

ul.navbar-nav li a.nav-link:hover {
	color: #dc0909;
	transition: 500ms;
}

#about {
	min-height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/landing3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#about .container {
	margin: 50px auto;
}



.video {
	width: 50%;
	height: 315px;
	margin: 10px auto;
}

/*STARt OF TESTIMONIALS*/

#testimonials {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .20)), url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

#testimonials .container .testi {
	padding-top: 50px;
}

#testimonials .container h2 {
	color: white;
}

.testi-card {
	margin: 60px auto;
	position: relative;
	border-radius: 5px;
	box-shadow: 2px 2px 10px gray;
	width: calc(32% - 10px);
	margin: 50px 10px 10px 10px;
	padding: 20px;
}

.testi-card p {
	text-align: center;
}

.photo-container {
	border-radius: 100%;
	border: 2px solid orange;
	top: -15%;
	left: 30%;
	margin: 10px auto;
	height: 110px;
	width: 110px;
	position: absolute;
}

.photo {
	position: absolute;
	border-radius: 100%;
	margin: 3px;
	height: 100px;
	width: 100px;
}

.message-container {
	margin: 70px 20px;
	color: black;
}

.icon {
	position: relative;
	font-size: 15px;
	color: #bd986b;
}

#locations {
	background: -webkit-linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background: -o-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
}

#locations .container .loc {
	padding-top: 20px;
}

footer {
	background: -webkit-linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .85)), url('../images/bg.jpg');
	color: orange;
}

.footer-name {
	color: white;
	font-size: 12px;
	line-height: 2px;
	padding: 20px;
}

/*START OF MENU*/

#menu {
	background: -webkit-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background: -o-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height: 90vh;
	position: relative;
	margin-top: 10vh;
	overflow: hidden;
}

.cat-container {
	position: fixed;
	width: 200px;
}

.categories
 {
	font-size: 1em;
	font-weight: bolder;
	letter-spacing: 1px;
	color: #9a4242;
	transition: 500ms;
}

.categories:hover {
 	color: maroon;
	transition: 500ms;
}

.main-dish-row {
	margin: 2px;
}

.product-card {
	width: 100px;
	background: #846e2c26;
	box-shadow: 2px 2px 24px gray;
	border-radius: 10px;
	transition: 500ms;
}

.product-card:hover {
	background: transparent;
	transform: scale(1.001);
	transition: 400ms;
}

.image-container {
	position: relative;
}

.img-1 {
	z-index: -10;
	position: absolute;
	top: 0px;
}

.animate-cart {
	z-index: -2;
}

.animate-cart-active {
	display: inline-block;
	animation: cart 2s ease forwards;
}

@keyframes cart {
	0% {
		z-index: 5;
		transform: scale(1);
		bottom: 0;
		right: 0;
	}
	50% {
		transform: scale(.5);
	}

	100% {
		transform: translate(500px, -200px) scale(.1);
		opacity: 0;
	}
}

.main-dish-row h5{
	text-align: center;
	
}

/*END OF MENU*/

/*START OF POP UP CART - THIS FEATURE IS NOT INCLUDED YET*/

.cart-panel {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(185, 185, 185, .85)), transparent;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	right: -450px;
	min-height: 150vh;
	width: 450px;
	padding: 10px;
	transition: 500ms;
}

.cart-panel-active {
	right: 0;
	transition: 500ms;
	min-height: 150vh;
	border-left: 1px solid #ce692b;
	box-shadow: -2px -2px 20px #d68b5d;
}

.img-on-cart {
	border-radius: 10px;
	box-shadow: 2px 2px 10px gray;
}

.panel-cart {
	position: relative;
}

.closebtn-container {
	position: absolute;
}

.closebtn {
	position: absolute;
	top: 0;
  	right: 10px;
  	font-size: 30px;
  	color: red;
}

.closebtn:hover {
	color: maroon;
}

.cart-content {
	position: absolute;
	top: 50px;
}

.checkout-btn {
	background: #be6610;
	box-shadow: 2px 2px 10px gray;
	transition: 500ms;
	font-weight: bolder;
	color: white;
	letter-spacing: 4px;
}

.checkout-btn:hover {
	background: #c28515;
	color: white;
	box-shadow: 2px 2px 20px gray;
	transform: scale(1.01);
	transition: 500ms;
}

.empty-cart {
	margin-top: 15%;
}

/*END OF POP UP CART - THIS FEATURE IS NOT INCLUDED YET* see on the other css page/


/*CHECKOUT PAGE*/
#checkout-page {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url('../images/landing4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 96vh;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-container {
	margin: 20px auto;
	border-radius: 10px;
	background: rgba(255,255,255,.8);
	border: 2px ridge black;
	box-shadow: 2px 2px 20px black;
}
/*END OF CHECKOUT PAGE*/

/*ORDERS*/
#orders {
	background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/landing4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 96vh;
	padding-top: 10px;
	padding-bottom: 10px;
}

.orders-container {
	border-radius: 10px;
	background: rgba(255,255,255,.8);
}
/*END OF ORDERS*/

/*SIGNUP AND SIGNIN*/
#signup {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url('../images/landing4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

.signup-container {
	margin-top: 10vh;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(255,255,255,.8);
	height: 400px;
	/*width: 30vw;*/
	padding: 40px;
}

.alert-danger {
	padding-top: 10px;
}
/*END OF SIGNUP AND SIGNIN*/



/***************************************************************************/
/*1. ipad pro (1024w * 1366h) */
/*LARGE FOR BOOTSTRAP 992-1119*/
@media only screen and (max-width: 1024px) and (min-width: 992px) {

	.texts {
		padding-top: 40%;
		line-height: 20px;
		letter-spacing: 8px;
		width: 100%;
	}

	.texts h1 {
		font-size: 80px;
	}

	.texts h4 {
		font-size: 33px;
	}

	.navbar-brand {
		font-size: 1.6em;
	}

	ul.navbar-nav li a.nav-link {
    	font-size: 1.2em;
	}

	#about,
	#locations,
	#testimonials {
		min-height: 45vh;
	}	
	
	#about {
		padding: 50px;
	}

	

	#about .container h2 {
		font-size: 50px	;
	}

	.about-text {
		width: 100%;
	}

	

	.video {
		width: 80%;
		height: 500px;
		margin: 10px auto;
	}

	.testi-card {
		width: calc(48.5% - 10px);
		margin: 60px 10px 20px 10px;
	}

	.message {
		font-size: 24px;
	}

	/*SIGNUP AND SIGNIN*/
	.signup-container {
		height: 400px;
		padding: 40px;
	}
	/*END OF SIGNUP AND SIGNIN*/

}

/*2. ipad/ ipad mini (768w x 1024h) view*/
/*kindle fire/nexus (800w * 1280h)*/
/*MEDIUM FOR BOOTSTRAP 768-991*/
@media only screen and (max-width: 991px) and (min-width: 768px)  {
	
	.texts {
		padding-top: 36%;
		line-height: 20px;
		letter-spacing: 8px;
		width: 100%;
	}

	#about,
	#locations,
	#testimonials {
		min-height: 45vh;
	}	

	.texts h1 {
		font-size: 65px;
	}

	.texts h4 {
		font-size: 26px;
	}

	.navbar-brand {
		font-size: 1.8em;
	}

	ul.navbar-nav li a.nav-link {
    	font-size: 1.5em;
	}

	#about {
		padding: 50px;
	}

		

	#testimonials .container p {
		font-size: 33px;
		padding-top: 15px;
	}	

	#about .container h2,
	#testimonials .container h2 {
		font-size: 50px	;
	} 

	.about-text {
		width: 100%;
	}

	

	.video {
		width: 100%;
		height: 500px;
		margin: 10px auto;
	}

	.photo-container {
		left: 40%;
		height: 150px;
		width: 150px;
	}

	.photo {
		height: 140px;
		width: 140px;
	}

	.testi-card {
		width: calc(100% - 10px);
		margin: 80px 10px 20px 10px;
	}

	.message-container {
		font-size: 35px;
	}

	/*SIGNUP AND SIGNIN*/
	.signup-container {
		height: 400px;
		padding: 40px;
	}
	/*END OF SIGNUP AND SIGNIN*/
}

/*blackberry playbook (600w * 1024h)*/
/*3. tablet view*/
/*SMALL FOR BOOTSTRAP 	576-767*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
	
	.texts {
		padding-top: 36%;
		line-height: 20px;
		letter-spacing: 8px;
		width: 100%;
	}

	.texts h1 {
		font-size: 65px;
	}

	.texts h4 {
		font-size: 26px;
	}

	#about,
	#locations,
	#testimonials {
		min-height: 45vh;
	}	

	.navbar-brand {
		font-size: 1.8em;
	}

	ul.navbar-nav li a.nav-link {
    	font-size: 1.5em;
	}

		

	#about .container h2 {
		font-size: 50px	;
	}

	.testi-card {
		width: calc(100% - 10px);
		margin: 80px 10px 20px 10px;
	}

	.message-container {
		font-size: 35px;
	}

	/*SIGNUP AND SIGNIN*/
	.signup-container {
		background: yellow;
		height: 68vh;
		width: 60vw;
		padding: 40px;
	}
	/*END OF SIGNUP AND SIGNIN*/
}

/*iphone 6/7 plus (414w * 736h)*/
/*4. mobile view*/
/*XS FOR BOOTSTRAP 575 below*/


/*iphone 4 (320w * 480h)
/*iphone 5 (320w * 568h)*/
/*iphone 6/7 (375w * 667h)*/
/*iphone x (375w * 812h)*/
/*5. mobile view*/
@media only screen and (max-width: 400px) and (min-width: 320px)  {
/*SIGNUP AND SIGNIN*/
	.signup-container {
		background: violet;
		height: 68vh;
		width: 60vw;
		padding: 40px;
	}
	/*END OF SIGNUP AND SIGNIN*/

	.navbar-brand {
		font-size: 8em;
	}

	ul.navbar-nav li a.nav-link {
    	font-size: 2em;
	}

		

	#about .container h2 {
		font-size: 50px	;
	}
}