@font-face {
    src: url(../fonts/ELEKTORA.ttf);
    font-family: main-font;
}

@font-face {
    src: url(../fonts/KONFUCF_.ttf);
    font-family: second-font;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
}


/*@media only screen and (max-width: 400px) {*/
/*}*/
	
		#signup {
			background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url('../images/landing4.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: 100vh;
		}

		.signup-container {
			border-radius: 10px;
			box-shadow: 2px 2px 10px maroon;
			background: rgba(255,255,255,.8);
			width: calc(100% - 50px);
			padding: 40px 20px;
			margin: auto;
		}

		.signup-container h2 {
			letter-spacing: 4px;
			font-weight: bold;
			color: maroon;
			text-shadow: 1px 1px orange;
			font-family: main-font;
			text-align: center;
		}

		.signup-btn {
			background: #44392e;
			transition: 500ms;
			font-weight: bolder;
			color: white;
			letter-spacing: 2px;
		}

		.signup-btn:hover {
			background: #3a1205;
			color: white;
			transition: 500ms;
		}

		.signup-container p {
			font-size: 12px;
			display: inline-block;
		}
		
		.signup-container p a:hover{
			text-decoration: none;
		}

	/*END OF SIGNUP AND SIGNIN*/

		#home {
			min-height: 100vh;
			background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .50)), url('../images/landing3.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			position: relative;
		}

		.home-container {
			color: #FFC107;
	   		position: absolute;
	   		top: 40%;
	   		left: 50%;
	   		transform: translate(-50%, -40%);
	   		width: 80%;
		}

		.home-container .texts h1 {
			font-size: 27px;
			font-family: main-font;
		}	

		.home-container .texts p {
			font-size: 13px;
			font-family: main-font;
		}	

		.home-container .texts h5 {
			font-size: 13px;
		}

		.home-container .texts hr {
			border: .5px ridge gray;
		}
	
	/*END OF HOME*/

		.nav-menu {
			background: white;
		}

		.nav-menu a.navbar-brand {
			font-size: 1.5em;
			letter-spacing: 1px;
			font-family: main-font;
			color: maroon;
			text-shadow: .2px .2px orange;
			transition: 500ms;
		}

		.ul-menu li a{
			color: maroon;
			text-shadow: .2px .2px orange;
		}

		.nav-bar-colored {
			/*padding-top: 30px; */
			box-shadow: 2px 2px 10px #3a010b;
			transition: 500ms;
		}

	/*END OF NAV*/
		#about {
			background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/landing3.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
		}

		.about-container {
			width: 90%;
			padding: 20px;
		}

		.about-container p.text-left {
			display: none;
		}

		.about-container h2 {
			font-family: main-font;
			color: maroon;
			text-shadow: .2px .2px orange;
			text-align: center;
		}

		.about-container hr {
			border: .5px ridge gray;
			width: 85%;
		}

		.about-text {
			width: calc(100% - 30px);
			margin: 10px 30px;
			text-align: center;
		}

		.video {
			width: 100%;
			height: 200px;
			padding: 0 20px;
		}

	/*END OF ABOUT*/

		#testimonials {
			background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .20)), url('../images/bg.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			min-height: 100vh;
		}

		.testi-container {
			padding-top: 50px;
		}

		.testi-container h2 {
			font-family: main-font;
			color: white;
			text-shadow: 1px 1px orange;
			text-align: center;
		}

		.testi-container p.text-left {
			display: none;
		}

		.testi-container hr {
			border: .5px ridge gray;
			width: 85%;
		}

		.testi-card {
			border-radius: 5px;
			box-shadow: 2px 2px 10px gray;
			width: calc(100% - 10px);
			margin: 50px 10px 10px 10px;
		}

		.testi-card p {
			text-align: center;
		}

		.photo-container {
			border-radius: 100%;
			border: 2px solid orange;
			margin: 10px auto;
			height: 110px;
			width: 110px;
		}

		.photo {
			border-radius: 100%;
			margin: 3px;
			height: 100px;
			width: 100px;
		}

		.message-container {
			margin: 20px;
			color: black;
		}

		.icon {
			position: relative;
			font-size: 15px;
			color: #bd986b;
		}
	
	/*END OF TESTIMONIALS*/
		#locations {
			background: -webkit-linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: -o-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background-attachment: fixed;
			background-size: cover;
		}

		.locs-container {
			width: 90%;
			padding: 35px;
		}

		.locs-container h2 {
			font-family: main-font;
			color: maroon;
			text-shadow: 1px 1px orange;
			text-align: center;
		}

		.locs-container p.text-left {
			display: none;
		}

		.locs-container hr {
			border: .5px ridge gray;
			width: 100%;
		}

		.map {
			width: 100%;
			height: 300px;
		}

	/*END OF LOCATIONS*/

		footer {
			background: -webkit-linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .85)), url('../images/bg.jpg');
			color: orange;
		}

		.footer-name {
			color: white;
			font-size: 12px;
			padding: 20px;
			line-height: 2px;
		}

		.disclaimer {
			color: white;
			font-size: 12px;
			line-height: 13px;
		}

	/*END OF FOOTER*/
	/*START OF MENU*/

		#menu {
			background: -webkit-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: -o-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background-attachment: fixed;
			background-size: cover;
		}

		.product-card {
			width: calc(100% - 30px);
			margin: auto;
			background: #846e2c26;
			box-shadow: 2px 2px 24px gray;
			border-radius: 10px;
			transition: 500ms;
		}

		.product-card:hover {
			background: transparent;
			transform: scale(1.001);
			transition: 400ms;
		}

		.image-container {
			position: relative;
		}

		.img-1 {
			z-index: -10;
			position: absolute;
			top: 0px;
		}

		.animate-cart {
			z-index: -2;
		}

		.animate-cart-active {
			display: inline-block;
			animation: cart 2s ease forwards;
		}

		@keyframes cart {
			0% {
				z-index: 5;
				transform: scale(1);
				bottom: 0;
				right: 0;
			}
			50% {
				transform: scale(.5);
			}

			100% {
				transform: translate(500px, -200px) scale(.1);
				opacity: 0;
			}
		}

		.main-dish-row h5{
			text-align: center;
			
		}

		#shopping-cart {
			background: -webkit-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: -o-linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .85)), url('../images/bg.jpg');
			background-attachment: fixed;
			background-size: cover;
			min-height: 80vh;
		}

		.cart-container {
			border-radius: 10px;
			box-shadow: 2px 2px 10px gray;
			padding: 10px;
			background: rgba(255,255,255,.8);
			width: 310px;
		}

		.cart-table {
			margin-top: 20px;
			width: 300px;
			text-align: center;
			font-size: 13px;
		}

		.food-title {
			width: 40%;
			text-align: left;
		}		

		.food-- {
			width: 5%;
		}		

		.food-plus {
			width: 5%;
		}

		.food-qty {
			width: 5%;
		}

		.food-price {
			width: 10%;
		}

		.food-action {
			width: 5%;
		}

		.cart-container h3 {
			color: maroon;
			text-shadow: 1px 1px orange;
		}

	/*CHECKOUT PAGE*/
		#checkout-page {
			background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url('../images/landing4.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: 100vh;
		}

		.checkout-container {
			padding: 10px;
		}

		.checkout-container h3 {
			color: maroon;
			text-shadow: 1px 1px orange;
		}

		.form-container {
			padding: 10px;
			margin: 20px 0;
			border-radius: 10px;
			background: rgba(255,255,255,.8);
			box-shadow: 2px 2px 10px maroon;
		}
	/*END OF CHECKOUT PAGE*/

	/*ORDERS*/
		#orders {
			background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/landing4.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			min-height: 96vh;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.orders-container {
			border-radius: 10px;
			background: rgba(255,255,255,.8);
		}

		.orders-container h3 {
			color: maroon;
			text-shadow: 1px 1px orange;
			font-family: 'Kaushan Script', cursive;
			margin-bottom: 20px;
		}

		.orders-table {
			text-align: center;
		}

		.food-orders {
			width: 30%;

		}
	/*END OF ORDERS*/
	






/*END OF MOBILE VIEW*/


/*iphone 6/7 plus (414w * 736h)*/
/*1. mobile view*/
/*XS FOR BOOTSTRAP 575 below*/
@media only screen and (min-width: 401px)  {

		.signup-container,
		.signup-btn {
			font-size: 21px;
		}

		.signup-container p {
			font-size: 16px;
		}

		.signup-container h2 {
			font-size: 3rem;
			margin-bottom: 30px;
		}

	/*END OF SIGNUP AND SIGNIN*/

		.home-container {
	   		top: 50%;
	   		left: 50%;
	   		transform: translate(-50%, -50%);
	   		width: 80%;
		}

		.home-container .texts h1 {
			font-size: 35px;
		}	

		.home-container .texts p,
		.home-container .texts h5 {
			font-size: 18px;
		}	

	/*END OF HOME*/

		.about-text {
			font-size: 18px;
		}
		
		.video {
			width: 100%;
		}

	/*END OF ABOUT*/

		.testi-card {
			width: calc(100% - 80px);
			margin: 20px auto;
		}

		.message-container {
			margin-bottom: 70px;
		}
		
		.cart-container {
			width: 400px;
		}

		.cart-table {
			width: 390px;
		}

}

/*blackberry playbook (600w * 1024h)*/
/*2. tablet view*/
/*SMALL FOR BOOTSTRAP 	576-767*/
@media only screen and (min-width: 576px) {

		.signup-container {
			width: calc(100% - 100px);
		}

		.signup-container,
		.signup-btn {
			font-size: 33px;
		}

		.signup-btn {
			margin-top: 60px;
		}

		.signup-container h2 {
			font-size: 4rem;
			margin: 30px auto 60px auto;
		}
		
		.signup-container p {
			font-size: 24px;
		}

	/*END OF SIGNUP AND SIGNIN*/

		.home-container .texts h1 {
			font-size: 56px;
		}	

		.home-container .texts p,
		.home-container .texts h5 {
			font-size: 27px;
		}	

	/*END OF HOME*/

		.about-container  h2 {
			font-size: 3rem;
		}

		.about-text {
			font-size: 22px;
		}
		
		.video {
			width: 500px;
			height: 300px;
		}

	/*END OF ABOUT*/

		.testi-container  h2 {
			font-size: 3rem;
		}

		.photo-container {
			top: -18%;
			left: 32%;
			height: 150px;
			width: 150px;
		}

		.photo {
			height: 140px;
			width: 140px;
		}

		.message {
			font-size: 27px;
		}

	/*END OF TESTIMONIALS*/

		.cart-container {
			margin-top: 30px;
			width: 520px;
		}

		.cart-table {
			width: 500px;
			font-size: 20px;
		}

		.orders-table {
			width: 100%;
		}



}

/*3. ipad/ ipad mini (768w x 1024h) view*/
/*kindle fire/nexus (800w * 1280h)*/
/*MEDIUM FOR BOOTSTRAP 768-991*/
@media only screen and (min-width: 768px)  {
	
		.signup-container {
			width: calc(80% - 100px);
		}

	/*END OF SIGNUP AND SIGNIN*/

		.home-container .texts h1 {
			font-size: 65px;
		}	

		.home-container .texts p,
		.home-container .texts h5 {
			font-size: 33px;
		}	
	/*END OF HOME*/

		.about-text {
			font-size: 24px;
		}
		
		.video {
			width: 570px;
			margin: 50px;
		}

	/*END OF ABOUT*/

		.testi-container  hr {
			margin-bottom: 100px;
		}

		.testi-card {
			width: calc(100% - 200px);
			margin: 50px auto;
			padding-top: 20px;
		}

		.photo-container {
			top: -21%;
			left: 34%;
		}

		.message {
			font-size: 28px;
		}

	/*END OF TESTIMONIALS*/

		.map {
			width: 500px;
			height: 300px;
		}

	/*END OF LOCATIONS*/
		.product-card {
			width: calc(60% - 30px);
		}

		.cart-container {
			margin-top: 30px;
			width: 720px;
		}

		.cart-table {
			width: 700px;
			font-size: 21px;
		}	

		.checkout-container h3 {
			font-size: 40px;
		}

		.form-container {
			padding: 30px;
			margin: 30px;
		}


}

/***************************************************************************/
/*4. ipad pro (1024w * 1366h) */
/*LARGE FOR BOOTSTRAP 992-1119*/
@media only screen and (min-width: 992px) {
	
	/*NO CODE FOR SIGNUP AND SIGNIN*/

		.home-container .texts h1 {
			font-size: 95px;
		}	

		.home-container .texts p,
		.home-container .texts h5 {
			font-size: 47px;
		}	
	/*END OF HOME*/

		.about-text {
			font-size: 28px;
		}
		
		.video {
			width: 800px;
		    height: 500px;
		    margin: 0 60px;
		}

	/*END OF ABOUT*/
		

		.testi-container  hr {
			margin-bottom: 100px;
		}

		.testi-card {
			width: calc(80% - 200px);
			margin: 50px auto;
			padding-top: 20px;
		}

		.photo-container {
			top: -21%;
			left: 34%;
		}

		.message {
			font-size: 30px;
		}

	/*END OF TESTIMONIALS*/
		
		.cart-container {
			padding: 30px;
			margin-top: 30px;
			width: 820px;
		}

		.cart-table {
			width: 800px;
			font-size: 22px;
		}

		.checkout-container h3 {
			font-size: 40px;
		}

		.form-container {
			padding: 30px;
			margin: 20px 0;
			font-size: 28px;
		}


	
}

/*5. Desktop*/ 
@media only screen and (min-width: 1025px) {
	
		.signup-container {
			width: calc(40% - 100px);
			margin: 80px;
		}

		.signup-container,
		.signup-btn {
			font-size: 24px;
		}

		.signup-btn {
			margin-top: 20px;
		}

		.signup-container h2 {
			font-size: 2rem;
			margin: 0 auto 20px auto;
		}
		
		.signup-container p {
			font-size: 16px;
		}

	/*END OF SIGNUP AND SIGNIN*/
	
		.home-container .texts h1 {
			font-size: 54px;
		}	

		.home-container .texts p,
		.home-container .texts h5 {
			font-size: 27px;
		}	

		.home-container .texts hr {
			width: 40%;
		}

	/*END OF HOME*/

		.about-container {
			padding: 50px 50px 20px 50px;
		}

		.about-container p.text-left {
			display: inline-block;
			color: gray;
		    font-size: 24px;
		    line-height: 1px;
		}

		.about-container h2 {
			text-align: left;
		}

		.about-container hr {
			border: .5px ridge gray;
			width: 100%;
		}

		.about-text {
			width: 40%;
			font-size: 16px;
			text-align: left;
		}
		
		.video {
			width: 470px;
		    height: 300px;
		    margin: 0 10px;
		}

	/*END OF ABOUT*/

		.testi-container {
			padding: 50px 50px 20px 50px;
		}

		.testi-container h2 {
			text-align: left;
		}

		.testi-container p.text-left {
			display: inline-block;
			color: white;
		    font-size: 24px;
		}

		.testi-container hr {
			margin-bottom: 30px;
			width: 100%;
		}

		.testi-card {
			width: calc(32.33% - 10px);
			margin: 50px 10px 10px 10px;
		    height: 300px;
		    position: relative;
		}

		.testi-card p {
			text-align: center;
		}

		.photo-container {
			border-radius: 100%;
			border: 2px solid orange;
			top: -20%;
			left: 34%;
			margin: 10px auto;
			height: 110px;
			width: 110px;
			position: absolute;
		}

		.photo {
			position: absolute;
			border-radius: 100%;
			margin: 3px;
			height: 100px;
			width: 100px;
		}

		.message-container {
			margin: 70px 20px;
			color: black;
		}

		.message {
			font-size: 16px;
		}

		.locs-container h2 {
			text-align: left;
		}

		.locs-container p.text-left {
			display: inline-block;
			color: gray;
		    font-size: 24px;
		}

		.locs-container hr {
			margin-bottom: 30px;
			width: 100%;
		}

		.map {
			width: 800px;
			height: 500px;
		}


	/*END OF LOCATIONS*/
		
		.product-card {
			width: calc(32% - 30px);
		}

		.checkout-container h3,
		.orders-container h3 {
			font-size: 40px;
		}

		.form-container {
			padding: 30px;
			margin: 10px 0;
			font-size: 20px;
		}



}
