@font-face {
    src: url(../fonts/ELEKTORA.ttf);
    font-family: main-font;
}

@font-face {
    src: url(../fonts/KONFUCF_.ttf);
    font-family: second-font;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
}

#home {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .50)), url('../images/landing3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.texts {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	line-height: 20px;
	width: 70%;
}

.texts h1 {
	font-size: 60px;
	font-family: main-font;
}

.texts p {
	font-size: 53px;
}

.since1988 {
	font-size: 20px;
	font-family: main-font;
}

.navbar-toggler {
	letter-spacing: 4px; 
	font-weight: bold;
	color: maroon;
	text-shadow: 1px 1px orange;
}

.navbar-brand {
	color: maroon;
	font-weight: bold;
	font-family: main-font;
	font-size: 25px;
}

.navbar-brand:hover {
	color: #dc0909;
	transition: 500ms;
}

.ul-menu li a {
	color: maroon;
	font-size: 20px;
}

#about {
	min-height: 100vh;
	background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('../images/landing3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#about .container {
	margin: 50px auto;
	padding: 0 40px;
}

.about-container p {
	color: gray;
	font-size: 25px;
}

.about-container h2 {
	font-family: main-font;
	font-weight: bolder;
	color: maroon;
	text-shadow: .4px .4px orange;
	line-height: 0px;
}

.about-text {
	width: calc(50% - 40px);
	font-size: 21px;
	margin: 20px;
}

.about-text p {
	color: #3a3333;
	line-height: 30px;
}

.video {
	width: 50%;
	border-radius: 10px;
}

/***************************************************************************/
/*1. ipad pro (1024w * 1366h) */
/*LARGE FOR BOOTSTRAP 992-1119*/
@media only screen and (max-width: 1024px) and (min-width: 992px) {

	#about {
		min-height: 0vh;
	}

	.texts {
		top: 45%;
		left: 50%;
		transform: translate(-50%, -45%);
		line-height: 38px;
		width: 80%;
	}

	.texts h1 {
		font-size: 80px;
	}

	.texts p {
		font-size: 70px;
	}

	.since1988 {
		font-size: 30px;
	}

	.about-text {
		width: calc(100% - 20px);
		font-size: 21px;
		margin: 20px;
	}

	.about-text p {
		color: #3a3333;
		line-height: 30px;
	}

	.video {
		width: calc(100% - 20px);
		border-radius: 10px;
		height: 500px;
	}
}

/*2. ipad/ ipad mini (768w x 1024h) view*/
/*kindle fire/nexus (800w * 1280h)*/
/*MEDIUM FOR BOOTSTRAP 768-991*/
@media only screen and (max-width: 991px) and (min-width: 768px)  {
	
	.texts {
		top: 48%;
		left: 50%;
		transform: translate(-50%, -48%);
	}

	.texts h1 {
		font-size: 80px;
	}

	.texts p {
		font-size: 70px;
	}

	.since1988 {
		font-size: 30px;
	}

	#about {
		min-height: 0vh;
	}

	.about-text {
		width: calc(100% - 20px);
		font-size: 21px;
		margin: 20px;
	}

	.about-text p {
		color: #3a3333;
		line-height: 30px;
	}

	.video {
		width: calc(100% - 20px);
		border-radius: 10px;
		height: 500px;
	}
}

/*blackberry playbook (600w * 1024h)*/
/*3. tablet view*/
/*SMALL FOR BOOTSTRAP 	576-767*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
	.since1988 {
		font-size: 40px;
	}

	#about {
		min-height: 0vh;
	}

	.about-text {
		width: calc(100% - 20px);
		font-size: 21px;
		margin: 20px;
	}

	.about-text p {
		color: #3a3333;
		line-height: 30px;
	}

	.video {
		width: calc(100% - 20px);
		border-radius: 10px;
		height: 500px;
	}
}

/*iphone 6/7 plus (414w * 736h)*/
/*4. mobile view*/
/*XS FOR BOOTSTRAP 575 below*/
@media only screen and (max-width: 575px) and (min-width: 401px)  {
	.ul-menu li a {
		font-size: 30px;
	}
}

@media only screen and (max-width: 400px) and (min-width: 320px)  {
	.ul-menu li a {
		font-size: 30px;
	}
}