
<div id="checkout-page">
	
	<div class="checkout-container">
		<div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
	

			<div id="charge-error" class="alert alert-danger {{#if noError}} d-none {{/if}}">
				{{errMsg}}
			</div>

			<div class="form-container">

			<h3 class="py-2 ">Checkout</h3>
				<form action="/checkout" method="POST" id="checkout-form">
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" id="name" class="form-control" required="" name="name">
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="address">Address</label>
								<input type="text" id="address" class="form-control" required="" name="address">
							</div>
						</div>

					</div>
					
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="card-name">Cardholder Name</label>
								<input type="text" id="card-name" class="form-control border-0" required="">
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<label for="total">Total </label>
								<input type="text" id="total" class="form-control" disabled="" value="${{total}}.00">
							</div>
						</div>

					</div>		

					<div class="row">

						<div class="col-sm-6">
							<div class="form-group">
								<label for="card-number">Cardholder number</label>
								<input type="text" id="card-number" class="form-control" required="">
							</div>
						</div>				

						<div class="col-sm-6">
							<div class="form-group">
								<label for="card-expiry-month">Expiration Month</label>
								<input type="text" id="card-expiry-month" class="form-control" required="">
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="card-expiry-year">Expiration Year</label>
								<input type="text" id="card-expiry-year" class="form-control" required="">
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="card-cvc">CVC</label>
								<input type="text" id="card-cvc" class="form-control" required="">
							</div>
						</div>

					</div>
					<button type="submit" class="btn signup-btn btn-block">Buy Now</button>

					<a class="nav-link" href="/shopping-cart">Back to Cart</a>
					<a class="nav-link" href="/menu">Back to Menu</a>
				</form>

			</div>	

		</div>
	</div>	 <!-- end of row -->
</div> <!-- end of #checkout-page -->

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>
