 
 <!-- START OF LANDING PAGE -->
    <div id="home">
		<div class="container-fluid home-container">
	        <div class="texts text-center">
	          <h1>MOSHI RAMEN</h1>
	          <p>The best ramen in town</p> 
	          <hr>

	          <h5>Since 1988</h5>
	        </div>
        </div>    
    </div> <!-- end of landing page (home) -->
<!-- END OF LANDING PAGE -->

	<nav class="sticky-top navbar navbar-expand-lg nav-menu">
	  <a class="navbar-brand" href="/">Moshi Ramen</a>

	  <button class="navbar-toggler" 
	  	type="button" 
	  	data-toggle="collapse" 
	  	data-target="#navbarNavDropdown" 
	  	aria-controls="navbarNavDropdown" 
	  	aria-expanded="false" 
	  	aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon">
	    		<i class="fas fa-bars"></i>
	    	</span>
	  </button>
	  
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav ml-auto text-right ul-menu">
	    	<li class="nav-item">
	        <a class="nav-link" href="/menu">Menu <span class="sr-only">(current)</span></a>
	      </li> 

	      <li class="nav-item">
	        <a class="nav-link" href="/shopping-cart" onclick="openPanel()">
	          <i class="fa fa-shopping-cart" aria-hidden="true"> </i>
	            Cart 
	          <span class="badge badge-light">{{session.cart.totalQty}}</span>
	        </a>
	      </li>

	       {{# if login}}

	       <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        <i class="far fa-user"></i>
	         User
	        </a>
	        <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item w-25" href="/users/profile">orders</a>
	          <a class="dropdown-item w-25" href="/users/logout">logout</a>
	         
	        </div>
	      </li>

	       {{ else }}

	           <li class="nav-item"><a class="nav-link" href="/users/signup">signup</a></li>
	           <li class="nav-item"><a class="nav-link" href="/users/signin">signin</a></li>

	       {{/if}}

	     
	    </ul>
	  </div>
	</nav>

	<div id="about">
		<div class="container about-container  ">
			
			<h2>About Us </h2> 
			<p class="text-left">Who are we?</p>
			<hr>
			<div class="row ">
				
				<div class="about-text">
					<p><strong>Moshi Ramen</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, magni, qui? Excepturi neque, nobis doloribus consequatur ullam explicabo obcaecati maxime? Accusamus ut facere enim atque. Sequi aspernatur aliquam iure necessitatibus?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci assumenda, facilis natus maxime illo soluta non deserunt vitae aliquid. Placeat quo quibusdam maxime recusandae aperiam corrupti iusto hic, ratione dignissimos sequi suscipit sed accusantium quis rerum, sit consequuntur dolor!</p>
				</div>
								
				<div >
					<iframe class="video" 
						src="https://www.youtube.com/embed/lp5XlUvGVNk" 
						frameborder="0" 
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
						allowfullscreen>
					</iframe>
				</div>
				<hr>
			</div>  <!-- end of about row -->
		</div> <!-- end of about container -->
	</div> <!-- end of #about -->

	<div id="testimonials">
		<div class="container testi-container">
			<h2>Testimonials</h2>
			<p class="text-left">Hear our customers</p>
			<hr>
			<div class="row mx-auto">
				
				<div class="testi-card bg-white">
					<div class="photo-container">
						<img class="photo" src="/images/luffy.jpg">
						
					</div>

					<div class="message-container">
						<p class="h4 message text-center"><strong>Mugiwara Luffy</strong></p>
						<p class="message">
							<span class="icon fa fa-quote-left"></span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem, quae commodi cupiditate fugiat non rerum dolor debitis quasi ut illo, p quas! Voluptates, molestiae, 
							<span class="icon fa fa-quote-right"></span>
						</p>
						
					</div>
					
				</div>	
				<div class="testi-card bg-white">
					<div class="photo-container">
						<img class="photo" src="/images/naruto.gif">
					</div>

					<div class="message-container">
						<p class="h4 message text-center"><strong>Uzumaki Naruto</strong></p>
						<p class="message">
						<span class="icon fa fa-quote-left"></span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem, quae commodi cupiditate fugiat non rerum dolor debitis quasi ut illo, p quas! Voluptates, molestiae, 
							<span class="icon fa fa-quote-right"></span>
						</p>
						
					</div>
					
				</div>	<div class="testi-card bg-white">
					<div class="photo-container">
						<img class="photo" src="/images/luffy.jpg">
					</div>

					<div class="message-container">
						<p class="h4 message text-center"><strong>Mugiwara Luffy</strong></p>
						<p class="message">
							<span class="icon fa fa-quote-left"></span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem, quae commodi cupiditate fugiat non rerum dolor debitis quasi ut illo, p quas! Voluptates, molestiae, 
							<span class="icon fa fa-quote-right"></span>
						</p>
						
					</div>
					
				</div>	


			</div> <!-- end of testimonials row -->
		</div> <!-- end of testimonials container -->
	</div> <!-- end of #testimonials -->

	<div id="locations">
		<div class="container locs-container">
			<h2>Stores</h2>
			<p class="text-left">Visit us</p>
			<hr>
			<div class="row">
				<div class="mx-auto">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1661.2834991507118!2d112.61932754304517!3d-7.976167123454282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e78829d9fef52bb%3A0x77ab32bd000c0951!2sMoshi+Moshi+Ramen!5e0!3m2!1sen!2sph!4v1565812544114!5m2!1sen!2sph" frameborder="0" style="border:0" allowfullscreen></iframe>

				</div>


			</div> <!-- end of locations row -->

		</div> <!-- end of locations container -->
	</div> <!-- end of #locations -->

	<footer class="container-fluid">

		<div class="col-lg-12 col-md-12 col-12 footer-name text-center my-4">
			<p>MOSHI RAMEN || The Best Ramen in Town</p>
		<hr>

		<p class="disclaimer">DISCLAIMER: Moshi Ramen is a fictional store. Any similarities to existing stores are purely coincidental. All photos, videos are not mine. Strictly for educational purposes only. </p>
		</div>	

	</footer>




<script src="/javascripts/nav.js"></script>































