  {{> top-nav}} 

	<div id="menu" class="container-fluid  mx-auto">
		
			<div class="row ">
				<div class="col-sm-12 col-md-4 col-md-offset-4 mx-auto">
					<div id="success" class="alert alert-success {{#if noMessage}} d-none {{/ if}}" >
						{{ successMsg }}
					</div>
				</div>
			</div>

		<div class="row">
			
			<!-- <div class="col-lg-2 my-4 fixed ">

				<nav class="nav flex-column cat-container">

				<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Search menu" aria-label="Search menu" aria-describedby="basic-addon2">
				  <div class="input-group-append">
				    <span class="input-group-text" >
				    	<i class="fas fa-search"></i>
				    </span>
				  </div>
				</div>
					<h5 class="list-group-item categories">Categories</h5>

					  <a class="nav-link list-group-item categories" href="#">Main Dish</a>
					  <a class="nav-link list-group-item categories" href="#">Side Dish</a>
					  <a class="nav-link list-group-item categories" href="#">Drinks</a>

					</nav>

			</div> --> <!-- end of col-lg-2 -->

			<div class="col-lg-10 mx-auto">

			{{# each products}}

				<div class="row my-4 ">
					{{# each this}}


						<div class="card text-center my-2 product-card" >
						  <div class="image-container">
						  	<img class="card-img-top img-1" src="{{this.imagePath}}" alt="Card image cap">			
						    <img class="card-img-top animate-cart" src="{{this.imagePath}}" alt="Card image cap">
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">{{this.title}}  </h5>
						    <p><em> {{this.category}}</em></p>

						    <div class="input-group mb-3 ">
							  <input type="text" class="border-0 form-control bg-transparent" value="${{this.price}}.00" disabled="">
							  
							  <div class="input-group-append">
							    <span class="input-group-text border-0 bg-transparent">
							    	<a class="nav-link categories" id="add-to-cart" href="/add-to-cart/{{this._id}} " >Add to Cart</a> 
							    </span>
							    <!-- <span class="animate-cart">1</span> -->

							  </div>
							</div>
						  </div>
						</div>

					{{/each}}
				</div>

			{{/each}}
			</div><!--  end of col-lg-10 -->

		<!-- 	<div class="cart-panel">
					
				{{> cart}}
			</div>
 -->
		</div> <!-- end of row -->


		
	</div> <!-- end of #menu -->

<script type="text/javascript" src="/javascripts/cart.js"></script>	
		


		







