{{> top-nav}} 

<div id="shopping-cart">
{{# if products}}

	<hr>	
	
		<div class="row cart-container mx-auto">
			<h3 class="mx-auto text-center">My Ramen Cart</h3>
			<table class="cart-table mx-auto table-striped">
				<tr>

					<th class="food-title">Food Items</th> 
					<th class="food--"></th>
					<th class="food-qty">Qty</th>
					<th class="food-plus"></th>
					<th class="food-price">Price</th>
					<th class="food-action">Remove</th>
						
							
				</tr>

				{{# each products }}

				<tr>
					<td  class="food-title">{{ this.item.title}}</td>
					<td class="food--">
						<a href="/reduce/{{this.item._id}}">
							<i class="fas fa-minus text-warning"></i>
						</a>
					</td>	
					<td class="food-qty">{{ this.qty}}</td>
					<td class="food-plus">
						<a href="/add/{{this.item._id}}">
							<i class="fas fa-plus text-success"></i>
						</a>
					</td>
							
					<td class="food-price">${{this.price}}.00</td>
					<td class="food-action">
						<a href="/remove/{{this.item._id}}">
							<i class="fas fa-trash text-danger"></i>
						</a>
					</td>
				</tr>
						<!-- <div class="row">
						
							<div class="col-lg-1  col-md-1 col-sm-1">
								<strong> </strong> 
							</div>
	
							<div class="col-lg-2  col-md-2 col-sm-2">
								<img class="img-on-cart w-25" src="{{this.item.imagePath}}" alt="">
							</div>

							<div class="btn-group col-lg-1 col-md-1 col-sm-1">
								<a href="/reduce/{{this.item._id}}">
									<i class="fas fa-minus"></i>
								</a>
								
								<div class="col-lg-1 ">
									<p class=" ">{{ this.qty}}</p>
								</div>
								
								<a href="/add/{{this.item._id}}">
									<i class="fas fa-plus"></i>
								</a>
							</div>
						
							<div class="col-lg-2  col-md-2 col-sm-2 text-center">
								${{this.price}}.00
							</div>
						
							<div class="btn-group col-lg-1  col-md-1 col-sm-1 text-center">
								<a href="/remove/{{this.item._id}}">
									<i class="fas fa-trash"></i>
								</a>
							</div>

						</div>
					 -->
			

				{{/each}}

				<tr>

					<th class="food-title">Total:</th> 
					<th class="food--"></th>
					<th class="food-qty"></th>
					<th class="food-plus"></th>
					<th class="food-price py-2">	<strong>${{totalPrice}}.00 </strong></th>
					<th class="food-action"></th>
						
							
				</tr>

			</table>
		</div>

		
				<div class="my-4 mx-auto col-sm-8 col-md-7">
					<a href="/checkout" class="btn bg-warning" type="but">CheckOut</a>
				</div>
		

{{else}}

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h2 class="text-center empty-cart py-4">Cart is empty. </h2>
			<a href="/menu" class="btn btn-block w-25 mx-auto my-4 btn-warning" type="but">Shop Now</a>

		</div>
	</div>

{{/if}}


</div>


