  {{> top-nav}} 

<div id="orders">
{{# if orders}}	

		<div class="col-md-8 mx-auto orders-container">
			<h3 class="py-1 mx-auto text-center">My Orders</h3>

					<table class="table-striped orders-table">
						<tr>
								<th class="food-orders">
									 FOOD
								</th>
								<th class="food-orders">
									QTY
								</th>
								<th class="food-orders">
									PRICE
								</th>
							</tr>
								

			{{# each orders}}

		
						{{# each this.items}}
							
							<tr>
								<td class="food-orders">
									 {{this.item.title}}
								</td>
								<td class="food-orders">
									 {{this.qty}} 
								</td>
								<td class="food-orders">
									${{ this.price}}.00 
								</td>
							</tr>
								
								
						
						{{/each}}

					<tr>
						<td><strong>TOTAL </strong> </td>
						<td></td>
						<td><strong>${{ this.cart.totalPrice}}.00 </strong></td>
					</tr>
										
									
			{{/each}}
					</table>
		</div>

	{{else}}

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h2 class="text-center empty-cart">No orders. </h2>
			<a href="/menu" class="btn btn-block w-25 mx-auto my-4 checkout-btn" type="but">Shop Now</a>

		</div>
	</div>

{{/if}}
</div>	