<div class="row" id="signup">

	<div class="signup-container">
		<h2>SIGN in</h2>

		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{# each messages}}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}

		<form action="/users/signin" method="POST">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" class="form-control">
			</div>			
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control">
			</div>

			<input type="hidden" name="_csrf" value="{{csrfToken}}">

			<button type="submit" class="btn btn-block signup-btn"">SIGNIN</button>
		</form>

		<p>Don't have an account yet?
			<a href="/users/signup"> Signup</a>
		</p>
		
		
	</div>
</div>